<--! Space game adapted from https://github.com/Mutmatt/Pew-Pew -->

@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }
@()

@import helper.form
@import helper.inputText
@import helper.input


<!DOCTYPE html>

<html>
    <head>
    
	    <div class="navbar navbar-fixed-top">
	        <div class="navbar-inner">
	            <div class="container-fluid">
	                <a id="titleLink" class="brand" href="/">Log Out</a>
	                <a id="titleLink" class="brand" href="/game">Game</a>
	                <a id="titleLink" class="brand" href="/home">High Scores</a>
	            </div>
	        </div>
	    </div>

        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" type="spreadsheet">
        <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" type="spreadsheet">
        <link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/galaga.js")">

        <script type="text/javascript">
         document.getElementById("scoreReplace").value = getHighScore();
        </script>

        <style>
                .main{
                    background-image: url(@routes.Assets.at("images/galaga.png"));
                    background-position: top center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
                }
                .main_text{
                    font-variant: normal;
                    font-style: normal;
                    font-weight: normal;
                    text-align: center;
                    padding : 10px 0 10px;
                    font-family: 'Iceland', cursive;
                }
                .main_title{
                    font-size : 70px;
                }
                .main_description{
                    font-size : 20px;
                }
                .footer{
                    font-family: 'Iceland', cursive;
                }
        </style>
    </head>
    <body>
        <div class="main">
            <div class="container main_text">
                <div class="row">
                    <div class="span12" align="center">
                        <h1 class="main_title" style="color:white;">
                            Space Game
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="span4 offset4">
                        <canvas id="galaga_canvas" width="400" height="400" style="background-color:black;"></canvas>

                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
        <div class="container footer" align="center">
            <div class= "controls">

                <form id="myForm" action="@routes.Application.addHighScore()" method="post">
                    <input type='hidden' id='score' name='score' />
                    <button class="btn btn-primary" type="submit">Submit Score</button>

                </form>
                <p id = scoreSub></p>
            <p id="scoreHere" ></p>

            </div>
            <h1 class="text-info">Key Buttons</h1>
            <p style="font-size : 15px;">
                <b style="color:red;">Arrow Key</b> : Move <br>
                "<b style="color:red;">space</b>" : Bullet <br>
                "<b style="color:red;">z</b>" : Bomb <br>
                "<b style="color:red;">x</b>" : Shotgun <br>
                "<b style="color:red;">c</b>" : Shield <br>
                "<b style="color:red;">shift</b>" + "<b style="color:red;">arrow</b>" : Homing  <br>
            </p>
        </div>
        <div id="img_source" style="display:none;">
            <img id="bad1" src="@routes.Assets.at("images/bad2.png")">
            <img id="bad2" src="@routes.Assets.at("images/bad3.png")">
            <img id="bad3" src="@routes.Assets.at("images/bad1.png")">
            <img id="good" src="@routes.Assets.at("images/good.png")">
            <img id="suri" src="@routes.Assets.at("images/suri.png")">
            <img id="vim" src="@routes.Assets.at("images/vim.png")">
            <img id="laser" src="@routes.Assets.at("images/laser1.png")"> width="40" height="24">
            <img id="boss" src="@routes.Assets.at("images/bc.png")"> width="90" height="70">
            <img id="explosion" src="@routes.Assets.at("images/explosion.png")">
        </div>
        <audio id="sound0">
            <source src="@routes.Assets.at("media/galaga0.mp3")">
            <source src="media/galaga0.wav"></source>
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound1">
            <source src="@routes.Assets.at("media/galaga1.mp3")">
            <source src="media/galaga1.wav"></source>
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound2">
            <source src="@routes.Assets.at("media/galaga2.mp3")">
            <source src="@routes.Assets.at("media/galaga2.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound3">
            <source src="@routes.Assets.at("media/galaga3.mp3")">
            <source src="@routes.Assets.at("media/galaga3.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound4">
            <source src="@routes.Assets.at("media/galaga4.mp3")">
            <source src="@routes.Assets.at("media/galaga4.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound5">
            <source src="@routes.Assets.at("media/galaga5.mp3")">
            <source src="@routes.Assets.at("media/galaga5.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound6">
            <source src="@routes.Assets.at("media/galaga6.mp3")">
            <source src="@routes.Assets.at("media/galaga6.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound7">
            <source src="@routes.Assets.at("media/galaga7.mp3")">
            <source src="@routes.Assets.at("media/galaga7.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound8">
            <source src="@routes.Assets.at("media/galaga8.mp3")">
            <source src="@routes.Assets.at("media/galaga8.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound9">
            <source src="@routes.Assets.at("media/galaga9.mp3")">
            <source src="@routes.Assets.at("media/galaga9.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound11">
            <source src="@routes.Assets.at("media/galaga11.mp3")">
            <source src="@routes.Assets.at("media/galaga11.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound12">
            <source src="@routes.Assets.at("media/galaga12.mp3")">
            <source src="@routes.Assets.at("media/galaga12.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound13">
            <source src="@routes.Assets.at("media/galaga13.mp3")">
            <source src="@routes.Assets.at("media/galaga13.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>
        <audio id="sound14">
            <source src="@routes.Assets.at("media/galaga14.mp3")">
            <source src="@routes.Assets.at("media/galaga14.wav")">
            Your browser isn't invited for super fun audio time.
        </audio>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/boss_weapon.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/galaga.js")"></script>


        <script>
            var numScore = getHighScore();
            var score2 = document.getElementById("scoreSub");
            score2.value = numScore;
        </script>

        <--! this function fetches the score from the space game js and updates it in the form submission value-->
        <script>
        var score = playerScore;
        window.onload = setInterval(function() {
            //when the document is finished loading, replace everything
            //between the <a ...> </a> tags with the value of splitText
            score = playerScore;
            document.getElementById("scoreHere").innerHTML=score;
            document.getElementById("score").value = score;
        },50);
        
        </script>
    </body>
</html>