@(message: String, highScores: List[HighScores])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }
    
@main("Welcome to Space Game") {

    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

    <style>
            div {
            font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
            color: #002a80;
                background-color: #0ca4c5;
            }
        body{
            background-color: #0ca4c5;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='96' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%236519dd' fill-opacity='0.4'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

        }
    </style>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">Log Out</a>
                <a id="titleLink" class="brand" href="/game">Game</a>
                <a id="titleLink" class="brand" href="/home">High Scores</a>
            </div>
        </div>
    </div>
    
    <style>
#highScoreTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#highScoreTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#highScoreTable tr:nth-child(even){background-color: #f2f2f2;}

#highScoreTable tr:hover {background-color: #ddd;}

#highScoreTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>

    <div class="container">
    	<h1>High Scores for a Space Game</h1>
    	<table id="highScoreTable">
    		<tr>
    			<td>User Name</td>
    			<td>Highest Score</td>
    		</tr>
	    	@for(score <- highScores) {		    	
	    		<tr>
	    			<td>@score.getUsername()</td>
	    			<td>@score.getHighScore()</td>
	    		</tr>
	    	} 
    	</table>       
    </div>


    
}
